html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 450px;
    margin: auto;
}
body {
    font-family: 'Roboto', sans-serif;
}
.title {
    height: 100px;
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 450px;
    margin: auto;
}
.title h1{
    font-size: 1.5em;
    font-weight: bold;
}
.title::after{
    content: "";
    background-image: url(public/pokemon.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 250px;
    position: absolute;
    width: 250px;
    top: -50px;
    right: -50px;
    filter: opacity(.15) drop-shadow(0 0 0 grey);
}
main .pokemon-card {
    width: 40%;
    padding: 15px;
    margin: 5px auto;
    color: white;
    border-radius: 20px;
    position: relative;
    height: 95px;
}

.fire {
    background: #fc6c6d;
}
.poison, .grass, .bug {
    background: #49d0b0;
}
.water {
    background: #76befe;
}
.normal {
    background: #D3D3D3;
}
.pokemon-card h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
}
main .pokemon-card::first-letter {
    text-transform: uppercase;
}
.pokemon-card ul li::first-letter {
    text-transform: uppercase;
}
main .pokemon-card::after{
    content: "";
    background-image: url(public/pokemon.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.25;
    display: block;
    height: 100px;
    position: absolute;
    width: 100px;
    bottom: -27px;
    right: -25px;
}
main div ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main div li {
    width: 84px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
    text-align: center;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
main div li::first-letter {
    text-transform: uppercase;
}
.pokemon-card div {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
}
