html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 450px;
    margin: auto;
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
}
.title {
    height: 100px;
    display: flex;
    align-items: center;
    max-width: 450px;
    margin: auto;
    justify-content: space-between;
}
.title h1{
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 4px;
}
.title::after{
    content: "";
    background-image: url(public/pokemon.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 250px;
    position: fixed;
    width: 250px;
    top: -82px;
    right: -85px;
    filter: opacity(.15) drop-shadow(0 0 0 grey);
}
.pokemon-card:active {
    transform: scale(1.02);
}
.pokeball.in-team {
    background-image: url(public/full_pokeball.png);
    animation: wobble 1s linear 100;
    transform-origin: 50% 100%;
    transform-box: fill-box;
    display: block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
}
.hamburger-menu {
    padding-right: 22px;
    position: absolute;
    z-index: 500;
    right: 0;
}
.stat {
    padding-left: 80px;
    text-align: end;
}
main .pokemon-card, .pokemon-container .pokemon-card {
    width: 40%;
    padding: 15px;
    margin: 5px auto;
    color: white;
    border-radius: 20px;
    position: relative;
    height: 95px;
}
.menu-item ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 45px;
}
.menu-item ul li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.menu-item span {
    color: lightgray;
    width: 45px;
}
.fire {
    background: #EE8130;
}
.ground {
    background: #E2BF65;
}
.fighting {
    background:  #C22E28;
}
.psychic {
    background: #D685AD;
}
.rock {
    background: #B6A136;
}
.fairy {
    background: #F95587; 
}
.electric {
    background: #ffd76f;
}
.ice {
    background: #96D9D6;
}
.ghost {
    background: #735797;
}
.poison {
    background: #A33EA1;
}
.dark {
    background: #705746;
}
.steel {
    background: #B7B7CE;
}
.grass, .bug {
    background: #7AC74C;
}
.dragon {
    background: #6F35FC;
}
.water {
    background: #76befe;
}
.normal {
    background: #A8A77A;
}
.pokemon-card h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
}
main .pokemon-card::first-letter {
    text-transform: uppercase;
}
.pokemon-card ul li::first-letter {
    text-transform: uppercase;
}
main .pokemon-card::after{
    content: "";
    background-image: url(public/pokemon.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.25;
    display: block;
    height: 100px;
    position: absolute;
    width: 100px;
    bottom: -27px;
    right: -25px;
}
main div ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main div li {
    width: 84px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
    text-align: center;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 5px;
}
main div li::first-letter {
    text-transform: uppercase;
}
.pokemon-card div {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
}
/* Modal */

.modal-container {
    width: -webkit-fill-available;
    height: 100%;
    position: fixed;
    z-index: 999;
    animation-name: go_to_top;
    animation-duration: 0.5s;
    font-family: 'Roboto', sans-serif;
}
.modal-head {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.left-arrow {
    background-image: url(public/left-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 45px;
}
.poke-add {
    background-image: url(public/empty_pokeball.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 45px;
}
.modal-container h2 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.modal-container h2::first-letter {
    text-transform: uppercase;
}
.poke-head {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}
.poke-head div ul {
    display: flex;
    padding-top: 15px;
    flex-direction: row;
}
.poke-head div ul li {
    color: white;
    width: 84px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
    text-align: center;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 5px;
}
.poke-head span {
    display: flex;
    align-items: center;
}
.modal-container img {
    display: block;
    margin: auto;
    bottom: -15px;
    position: relative;
    width: 50%;
}
.modal-details {
    height: 85%;
    width: 100%;
    background: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.modal-menu {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid lightgrey;
    width: 85%;
    margin: auto;
}
.menu-item {
    display: none;
}
.item-active {
    display: block;
    height: 100%;
}
.tab {
    text-decoration: none;
}
.modal-menu .active{
    border-bottom: 3px solid #3f48a7;
    height: 40px;
    color: black;
    margin-top: 30px;
}
.modal-menu a {
    color: lightgrey;
}
.team-list.activ{
    position: fixed;
    z-index: 99;
    background: white;
    width: 1500px;
    height: 1500px;
}
.team-list {
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pokemon-container {
    height: 90vh;
    width: 100vw;
    display: flex;
    width: 100vw;
    max-width: 450px;
    flex-direction: column;
}
.pokemon-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -100px;
}

.poke-add.in-team {
    background-image: url(public/full_pokeball.png); 
    animation: wobble 1s linear 100;
    transform-origin: 50% 100%;
    transform-box: fill-box;
}
.more {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.scale-in-center.activ {
	animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.container-team {
    display: none;
}
.activ-container-team {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: transparent;
    position: absolute;
    display: flex;
}
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50px;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}
@keyframes go_to_top {
    0% {
         top: 100vh;
    }
    100% {
         top: 0; 
    }
  }
@keyframes scale-in-center {
0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
    border-radius: 100% 
    
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    border-radius: 0%; 
    }
}
@keyframes wobble {
    33% {
      transform: rotate(-5deg)
    }
    66% {
      transform: rotate(5deg)
    }
}
